.map {
    height: 450px;
    width: 100%;
}

.modalDel {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modalDel-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.closeDel {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeDel:hover,
.closeDel:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalSave {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modalSave-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.closeSave {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeSave:hover,
.closeSave:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}